doctype html
html
<<<<<<< HEAD
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body(ng-app='market-place')
    block content
  script(src='js/vendor/angular.min.js')
  script(src='js/vendor/angular-ui-router.js')
  script(src='js/app.js')
  script(src='js/controllers/categories.js')
=======
	head
		script(src="js/vendor/angular.min.js")
		script(src="js/vendor/angular-ui-router.js")
		script(src='js/app.js')
	body(ng-app="market-place")
		block content
>>>>>>> 63f2d4bcc5f96016668358f95f57756bee4801ed
