body, html {
	margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#selectCategory {
	margin: 20px;
	width: 20%;
	border-right: 1px solid black;
	height: 768px;
}
#hello select {
	
}