doctype html
html
  head
    script(src='../js/vendor/angular.js')
    script(src='../js/vendor/angular-ui-router.js')
    script(src='../js/app.js')
    script(src='../js/controllers/categories.js')
  body(ng-app='market-place')
    p this is layout page
      block content
 